.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 15px;
  margin: 15px auto 0 auto;
  background-color: rgba(233, 233, 233, 0.4);
  width: 70%;
  /* padding: 15px 30px; */
  border: 1.8px solid lightgray;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 15px lightgray;
  overflow: hidden;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-grow: 1;
  /* text-align: center; */
}

.navbar button {
  border: none;
  background-color: transparent;
  color: #222222;
  font-size: 20px;
  padding: 20px 40px;
  transition:
    background-color 0.2s linear,
    backdrop-filter 0.2s linear;
}

.navbar button:hover {
  background-color: rgba(200, 200, 200, 0.25);
}

.navbar button:active {
  backdrop-filter: brightness(0.75);
}

.btnContent {
  pointer-events: none;
  transition: transform 0.2s linear !important;
}

.navbar-right .btnContent {
  font-weight: 500;
}

.navbar button:active .btnContent {
  transform: scale(0.985) !important;
}

.navbar-header {
  background: linear-gradient(90deg, rgba(173, 216, 230, 0.3), rgba(255, 182, 193, 0.3))
}

.navbar-header .btnContent {
  font-weight: 600;
}

.navbar-signin {
  background-color: rgba(144, 238, 144, 0.3) !important;
}

.navbar-signin:hover {
  background-color: rgba(144, 238, 144, 0.5) !important;
}