@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,ROND@6..144,1..1000,100&display=swap');

* {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 100;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

p,
h1 {
  margin: 0;
}

.fade {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.fade.showFade {
  visibility: visible;
  opacity: 0.7;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  margin-top: 35px;
  gap: 40px;
}

.student-signin-wrapper,
.shop-signin-wrapper {
  flex-basis: calc((100% / 2) - (40px / 2));
  width: 80%;
  margin: 0 auto;
  /* border: 1.8px solid lightgray; */
  border-radius: 25px;
  background-color: rgba(233, 233, 233, 0.1);
  box-shadow: 0 0 15px lightgray;
  margin: 30px 15px;
  padding: 30px 10px;
}

.student-signin-wrapper {
  border: 1.8px solid rgba(173, 216, 230);
  box-shadow: 0 0 15px rgba(173, 216, 230, 0.7);
}

.shop-signin-wrapper {
  border: 1.8px solid rgba(255, 182, 193);
  box-shadow: 0 0 15px rgba(255, 182, 193, 0.7);
}

.student-signin,
.shop-signin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.signin-form-wrapper {
  flex: 1;
}

.student-signin-header,
.shop-signin-header {
  text-align: center;
  font-weight: 600;
}

.student-signin-desc,
.shop-signin-desc {
  text-align: center;
  font-size: 18px;
  margin: 10px;
  text-wrap: balance;
  line-height: 25px;
}

.signin-form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.signin-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 30px 0;
  gap: 20px;
}

input::placeholder {
  opacity: 0.7;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  outline: none;
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 10px;
  transition: border 0.1s linear;
}

.student-signin input:focus {
  border: 2px solid rgba(173, 216, 230);
}

.shop-signin input:focus {
  border: 2px solid rgba(255, 182, 193);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signin-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.signin-btn {
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 0 0 10px lightgray;
  width: 90%;
  transition:
    opacity 0.2s linear,
    transform 0.2s linear,
    backdrop-filter 0.2s linear;
}

.signin-btn:hover {
  opacity: 0.85;
}

.signin-btn:active {
  transform: scale(0.985);
  backdrop-filter: brightness(0.75);
}

.student-signin .signin-btn {
  background: linear-gradient(45deg, rgba(173, 216, 230), rgba(173, 216, 230, 0.5));
}

.shop-signin .signin-btn {
  background: linear-gradient(45deg, rgba(255, 182, 193), rgba(255, 182, 193, 0.5));
}

.student-signin label, .shop-signin label {
  font-weight: 600;
}

.signin-forgot {
  cursor: pointer;
}

.signin-forgot:hover {
  color: orangered;
}